#oldwoman {
    width: 300px;
    height: 500px;
    object-fit: contain;

}
#onward {
    width: 500px;
    height: 300px;
    object-fit: contain;

}
#ogre {
    width: 300px;
    height: 500px;
    object-fit: contain;

}
h2{
    font-family: fantasy;
    
}
body{
    padding: 500 px;
   margin-top: 50px;
   margin-bottom: 50px;
    background: rgb(240,236,209);
    background: radial-gradient(circle, rgba(240,236,209,1) 84%, rgba(77,71,29,1) 96%);
}

p {
    font-family: fantasy;
}
.end{
    color: rgb(164, 12, 12);
    font-size: xx-large;

}

