

p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: fantasy;
}

.left{
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.right{
    display: flex;
    justify-content: right;
    font-size: 30px;
}

a{
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}

.potions{
    color: red;
}

#oldwoman {
    width: 300px;
    height: 500px;
    

}
#onward {
    width: 500px;
    height: 300px;
    object-fit: contain;

}
#ogre {
    width: 300px;
    height: 500px;
    object-fit: contain;

}
#fire {

    width: 300px;
    height: 500px;
    object-fit: contain;
}

#tavern {
    width: 500px;
    height: 300px;
    object-fit: contain;

}

h2{
    font-family: fantasy;
    
}
body{
    padding: 500 px;
   margin-top: 50px;
   margin-bottom: 50px;
    background: rgb(240,236,209);
    background: radial-gradient(circle, rgba(240,236,209,1) 84%, rgba(77,71,29,1) 96%);
}

.end{
    color: rgb(164, 12, 12);
    font-size: xx-large;

}
.centerMe {
    width: 100%;
    display: flex;
    justify-content: center;
}

